# 忽略 node_modules 目录
node_modules

# 忽略构建输出目录
dist
build

# 忽略 VS Code 和 Dev Container 配置
.vscode
.devcontainer

# 忽略 Git 相关文件
.git
.gitignore

# 忽略 macOS 相关文件
.DS_Store

# 忽略日志文件
*.log

# 忽略环境变量文件
*.env
